html {
    margin: 0;
    padding: 0;
}

body {
    background-image: url('sky-background.jpg');
}

.topnav {
  background-color: #ccc;
  overflow: hidden;
  margin: 0 0 10px 0;
  border-radius: 4px;
}

.topnav a{
  float: left;
  background-color: #aaa;
  margin: 2px 4px;
  border-radius: 4px;
  padding: 5px;
  font-family: 'Poppins';
}
.topnav a:hover {
  background-color: #999;
}

a {
  color: black;
}
a:visited {
  color: black;
}

.post {
}

.knows {
}
.notknows {
  background-color: #888;
  border-radius: 4px;
}

.content{
    background-color: #ddd;
    margin: auto;
    width: 70%;
    border-radius: 10px;
    padding: 0.5%;
}

.main-title {
    color: #ccc;
    font-size: 50px;
    text-align: center;
    font-family: 'Julius Sans One', sans-serif;
    text-shadow: 1px 1px 3px #111;
}

.secondary-title {
    color: #ccc;
    text-align: center;
    font-size: 30px;
    font-family: 'Julius Sans One', sans-serif;
}

.post-title {
  color: #444;
  font-size: 40px;
  font-family: 'Julius Sans One', sans-serif;
}

.comment-title {
  color: #222;
  font-size: 20px;
  font-family: 'Julius Sans One', sans-serif;
}

h2 {
    color: #303030;
    font-family: 'Julius Sans One', sans-serif;
    font-size: 25px;
}
.word>ul, p{
    font-family: 'Poppins', sans-serif;
    list-style-type: none;
}
hr {
    border: 0;
    height: 1px;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0));
}

a {
    text-decoration: none;
}
a:active {
    outline: none;
}

.btns-line {
    text-align: center;
    padding: 30px;
}

.btn-small {
    color: #303030;
    font-family: 'Poppins', sans-serif;
    font-size: 20px;
    text-decoration: none;
    margin: 10px;
    border: 1px solid #303030;
    padding: 10px 20px;
    border-radius: 10px;
}

.btn-small:hover {
    color: #000;
}

#selected {
    border: 2px solid #303030;
}